.image {
  height: 176px;
  width: 255px;
}

.display-boxes {
  border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 10px solid #000000;
 padding: 25px;
}

.image1 {
  height: 276px;
  width: 355px;
}

.tag-heading{
  text-align: center;
}

/******* favorite styling *************/

.display-sep{
  margin-top:450px;
}
.fav-heading{
  text-align: center;
  margin-bottom: 50px;
}
ul{
  list-style: none;
}
