<br><br><br><h2>About AsiaTravel</h2>

<p>AsiaTravel is Asia’s leading online travel company that offers a global inventory of over 8 million travel products worldwide.
   Its online booking feature for all-inclusive packages strongly appeals to travellers seeking convenience, instant confirmation
    and extra savings. Its ability to provide full travel services at packaged prices establishes its distinctive position in the
    online travel market. Serving customers worldwide through 13 major language sites, its 17 offices in Asia, Middle East and Europe operate and provide 24 X 7 customer services. With comprehensive ground experience, supplier relationships, proprietary systems and operational knowledge, Asiatravel.com maintains a strong travel brand recognised for its reliability, sincerity and integrity for consumers and partners alike. Its recent award includes
    the Best Online Travel Agency 2015, for the 3rd consecutive year by TTG Travel Awards Asia Pacific.
</p>


<h3>Contact us</h3>
<p>Asia Travel Network Ltd<br>
RM A, 4/F Milton Mansion,<br>
96 Nathan Road, Tsim Sha Tsui,<br>
Kowloon, Hong Kong<br>
Tel: (852) 2736 0922<br>
Fax: (852) 2405 0922<br>
TA Licence: 352156</p>
