<br><br><br><h2>History Of Hong Kong</h2>
<p>The bustling city of Hong Kong was just a collection of fishing villages when claimed by Britain in 1842
following the First Opium War with China. This failed attempt by the Ching Dynasty to stop the British trading
 in opium led to Hong Kong being ceded to Britain under the Treaty of Nanking that year. The Kowloon Peninsula
  was handed over in 1860 and a 99-year lease on the New Territories, comprising the area north of Kowloon up
  to the Shenzhen River plus 235 outlying islands, was granted in 1898. Under the unique principle of 'One Country,
  Two Systems', Hong Kong returned to Chinese sovereignty on 1 July 1997 as a Special Administrative Region of the
  People's Republic of China. This arrangement allows Hong Kong to enjoy a high degree of autonomy, retaining its
  capitalist system, independent judiciary and rule of law, free trade and freedom of speech.
Hong Kong's magnificent harbour has been the key to its development as a trading port and entrepôt for China,
progressing through an industrial era to become a leading financial and services centre in Asia. The unique blend of
eastern and western influences, matched by diverse attractions and stunning countryside, has also made Hong Kong Asia's
 prime tourist destination.</p>

 <p>Hong Kong is situated on the southeast coast of China at the mouth of the Pearl River facing the South China Sea.
    Covering an area of 1,104 square kilometres (425 square miles), the territory is made up of Hong Kong Island, the
     Kowloon Peninsula and the New Territories. At the core is Victoria Harbour, which separates Hong Kong Island from
      Kowloon and beyond that, the New Territories that runs up to the boundary with Mainland China. As well as making
       up the bulk of Hong Kong's land mass, the New Territories also incorporates 262 outlying islands, including Lantau
        where the airport is located. Despite its dense urban environment, about three quarters of Hong Kong's total area is
         countryside, including about 40% designated as country parks and special areas that are all easily accessible.
          The Government is striving to improve the living environment through a series of ‘green’ projects.</p>
